body, html {
    background: linear-gradient(to bottom right, hsla(220, 100%, 20%, 1), hsla(260, 100%, 50%, 1)), no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body, html, p, h1, h2, h3, h4, button, input, div {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.hidden {
    display: none;
}

#wrap {
    position: relative;
}

#root {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, h2 {
    font-size: 2rem;
    padding-bottom: 30px;
}

h2 {
    font-weight: 700;
    font-size: 1rem;
}

button {
    background:  none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 30px 30px 30px;
}
button:hover {
    background: #fff;
    color: #333;
    cursor: pointer;
}

.file {
    opacity: .5;
    display: inline-block;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 0px 30px 30px 30px;
}

.file:hover {
    opacity: 1;
    cursor: pointer;
}

.file i, .file p {
    color: #333;
}

.file i {
    display: inline-block;
    font-size: 2rem;
    padding: 15px;
}
